<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks.poterrycafe.repository.CartSummaryMybatisRepository">


    <select id="findByCartIdCount" resultType="int">
        SELECT COUNT(*)
        FROM cart_summary
        WHERE cart_id = #{cartId}
    </select>

    <select id="findByCartIdOfSummaryCount" resultType="int">
        SELECT COUNT(*)
        FROM cart_summary
        WHERE cart_id = #{cartId}
    </select>

    <insert id="insertCartSummary">
        INSERT INTO cart_summary (cart_id, total_items, total_price)
        SELECT
            #{cartId} AS cartId,
            SUM(ci.quantity) AS totalItems,
            SUM(ci.price) AS totalPrice
        FROM cart_items ci
                 JOIN cart i ON ci.cart_id = i.cart_id
        WHERE ci.cart_id = #{cartId}
    </insert>

    <update id="updateCartSummary">
        potterycafe> UPDATE cart_summary cs
                         JOIN (
                         SELECT cart_id, SUM(quantity) AS totalItems, SUM(price) AS totalPrice
                         FROM cart_items
                         WHERE cart_id = #{cartId}
                         GROUP BY cart_id
                         ) summary ON cs.cart_id = summary.cart_id
                         SET cs.total_items = summary.totalItems,
                             cs.total_price = summary.totalPrice
                     WHERE cs.cart_id = #{cartId}



    </update>

    <select id="findByCartId">
        SELECT
            #{cartId} AS cartId,
            SUM(ci.quantity) AS totalItems,
            SUM(ci.price) AS totalPrice
        FROM cart_items ci
                 JOIN cart i ON ci.cart_id = i.cart_id
        WHERE ci.cart_id = #{cartId}
    </select>


</mapper>